[submodule "WonFileID"]
	path = WonFileID
	url = https://github.com/katahiromz/WonFileID.git
[submodule "WonFinalPathName"]
	path = WonFinalPathName
	url = https://github.com/katahiromz/WonFinalPathName
[submodule "MLog"]
	path = MLog
	url = https://github.com/katahiromz/MLog
